<!DOCTYPE html>
<html>
<head>
	<title>India</title>
	<link rel="icon" href="..\..\static\t1.jpg">
	<link rel="stylesheet" type="text/css" href="..\static\teams.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

<!-------------------------------------->


<!-------------------------------------->
<div id="main">
<div id="header">
	             <img id="loading"src="..\static\t1.jpg" alt="India" >
	             <h1>India
</h1>
</div>

     

 <!---------------------------------------------------------------------------------------------------->
<div id="desc">
  <button type="button" class="btn btn-warning btn-block" data-toggle="collapse" data-target="#demo" style="padding 0px; margin-top: 80px;
  margin-left:25%;width:50%" aria-expanded="true"><h2>Find More About US :</h2></button>
  <div id="demo" class="collapse in" aria-expanded="true">

<p style="margin-top:50px; text-align:center;">New York City,
  NY,  US 	 San Francisco,  CA,  US 	 Los Angeles,  CA,<br>
   US Vancouver ,  CA  	Seattle,  WA,  US 	Calgary, CA Minneapolis,<br>
    MN, US 	Salt Lake City, UT, US 	Dallas, TX, US Orlando, FL, US 	Mexico City, <br>
    MX 	Santiago, CL Sydney, AU 	Shanghai, CN 	New Delhi, IN
</p>
</div>
</div>






<div class="container-fluid" id="menu">
  <div class="jumbotron text-center" style="background-color:#0f0f0f; color: white;">
    <h1 style="color: white;">Insider</h1>

<div class="container" style="background-color:#0f0f0f;">
  <div class="panel-group" id="accordion">


    <div class="panel panel-default" style="border:0px;">
      <div class="panel-heading" style="background-color:#0f0f0f; color: white;">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" class="collapsed"><h2 style="background-color:MediumSeaGreen; color: white;">Current Gems</h2></a>
        </h4>

    </div>
      <div id="collapse1" class="panel-collapse collapse" style="background-color: rgb(15, 15, 15); color: grey; height: 0px;" aria-expanded="false">

        <div class="panel-body">
        	<img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
        	<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>

      <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
        	<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>

      <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
        	<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>

 <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
        	<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>

       <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
        	<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
	<img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
        	<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
     
<hr>
<img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
        	<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
<img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
        	<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
    <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
        	<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
     <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
        	<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
   <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
        	<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
  <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
        	<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>



   <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
   </div>
      </div>
    </div>
    <div class="panel panel-default" style="border:0px;">
      <div class="panel-heading" style="background-color:#0f0f0f; color: white;">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed" aria-expanded="false"><h2 style="background-color:SlateBlue; color: white;">All Time Favourite:</h2></a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse" style="background-color:#0f0f0f; color: grey;" aria-expanded="false">
        <div class="panel-body">


   <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>

          <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>

       <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>

    <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>

          <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>

        <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>

       <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>
           <img src="..\static\2.jpg" class="players" id="yahaaa pe idd dalna">
        </br>
		<h3><b>M.S Dhoni</b></h3>
        <p class="w3-text-grey">Bat,Wk</p>
        <button class="pknowmore"> Know More</button>
        <hr>










</div>

      </div>
    </div>

    <div class="panel panel-default" style="border:0px;">
      <div class="panel-heading" style="background-color:#0f0f0f; color: white;">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed" aria-expanded="false"><h2 style="background-color:Tomato; color: white;">Achievements</h2></a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse" style="background-color:#0f0f0f; " aria-expanded="false">
        <div class="panel-body" style="background-color:#0f0f0f; color:grey;">
          <h3><b>Worldcup</b> 2011</h3>
          <p>small desc</p>
          <hr>
            <h3><b>Worldcup</b> 2011</h3>
          <p>small desc</p>
          <hr>
           <h3><b>Worldcup</b> 2011</h3>
          <p>small desc</p>
          <hr>
            <h3><b>Worldcup</b> 2011</h3>
          <p>small desc</p>
          <hr>
            <h3><b>Worldcup</b> 2011</h3>
          <p>small desc</p>
          <hr>
            <h3><b>Worldcup</b> 2011</h3>
          <p>small desc</p>
          <hr>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div id="mj">


<footer>
      <h1>Find Us On</h1>
    <i class="fa fa-facebook-official"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-snapchat"></i>
    <i class="fa fa-pinterest-p"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-linkedin"></i>
    <br>
    <br>
</footer>
</div>
</div>
</body>
</html>
