#main{
	width: 100%;
	background-color:#0f0f0f;	
}
#header{
	background-color:#0f0f0f;
}
#header{
	width:90%;
	

}
#header h1{

	font-size: 90px;
	margin: 50px 60px;
	color: white;
	margin-left: 43%;
}
#desc{
		background-color:#0f0f0f;

}
.players{
	width: 100px;
	height: 100px;
	border: 1px solid rgba(77, 77, 51,0.2);
	border-radius: 20px;
}


#mj{
	background-color: rgba(77, 77, 51,0.1);
	color:white;
	font-weight: 10px;
		text-align: center;
}
#mj i ,#mj h1{
padding-top: 30px;
margin-top:px; 
font-size: 30px;
}

#demo p{
	color: #fff;
}
#loading{
max-width: 300px;
	max-height: 168px;
	margin: 50px 24%;
margin-left: 45%;
	border-radius: 50px;
}