<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  <link rel="stylesheet" type="text/css" href="..\static\event.css">

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>
</head>
<body>



<div id="main">

  


<div id="team">
 <a href="index.html"> <button id="btn"style="background-color:tomato;">
<h5><b>
&#10232; BACK</b></h5></button></a>

<div class="container-fluid text-center bg-black" <br="">
        <br>

          <h2 style="font-size: 50px;">Events</h2>

          <br>

          <div class="row text-center">

            <div class="col-sm-4" >


              <div class="thumbnail xyz" style="background-color: rgb(24, 28, 34">
                <div id="type">ODI</div>
                <div class="team">
                  <h1>TEAM 1</h1>
                  <p class="team1">bfdshfsdbgf</p>
               </div>
               <div class="team">
                  <h1>TEAM 2</h1>
                  <p class="team2">bfdshfsdbgf</p>
               </div>
                </hr>

                  <h3 style="color:#fff">Start Date:<span id="date"> 2018-07-25</span></h3>
                   <h3 style="color:#fff">Toss Winner:<span id="toss_winner_team"> 2018-07-25</span></h3>
                    <h3 style="color:#fff">Match Started:<span id="matchStarted"> 2018-07-25</span></h3>
                     <h3 style="color:#fff">Winner Team:<span id="winner_team"> 2018-07-25</span></h3>

                
               
                  <button id="unique_id"type="button" class="btn btn-info" style="background-color: rgb(136, 24, 27)"><a href="" style="text-decoration:none;color:white ">Know More</a></button>
              </div>
            </div>
            <div class="col-sm-4" >


              <div class="thumbnail xyz" style="background-color: rgb(24, 28, 34">
                <div id="type">ODI</div>
                <div class="team">
                  <h1>TEAM 1</h1>
                  <p class="team1">bfdshfsdbgf</p>
               </div>
               <div class="team">
                  <h1>TEAM 2</h1>
                  <p class="team2">bfdshfsdbgf</p>
               </div>
                </hr>

                  <h3 style="color:#fff">Start Date:<span id="date"> 2018-07-25</span></h3>
                   <h3 style="color:#fff">Toss Winner:<span id="toss_winner_team"> 2018-07-25</span></h3>
                    <h3 style="color:#fff">Match Started:<span id="matchStarted"> 2018-07-25</span></h3>
                     <h3 style="color:#fff">Winner Team:<span id="winner_team"> 2018-07-25</span></h3>

                
               
                  <button id="unique_id"type="button" class="btn btn-info" style="background-color: rgb(136, 24, 27)"><a href="" style="text-decoration:none;color:white ">Know More</a></button>
              </div>
            </div>
            <div class="col-sm-4" >


              <div class="thumbnail xyz" style="background-color: rgb(24, 28, 34">
                <div id="type">ODI</div>
                <div class="team">
                  <h1>TEAM 1</h1>
                  <p class="team1">bfdshfsdbgf</p>
               </div>
               <div class="team">
                  <h1>TEAM 2</h1>
                  <p class="team2">bfdshfsdbgf</p>
               </div>
                </hr>

                  <h3 style="color:#fff">Start Date:<span id="date"> 2018-07-25</span></h3>
                   <h3 style="color:#fff">Toss Winner:<span id="toss_winner_team"> 2018-07-25</span></h3>
                    <h3 style="color:#fff">Match Started:<span id="matchStarted"> 2018-07-25</span></h3>
                     <h3 style="color:#fff">Winner Team:<span id="winner_team"> 2018-07-25</span></h3>

                
               
                  <button id="unique_id"type="button" class="btn btn-info" style="background-color: rgb(136, 24, 27)"><a href="" style="text-decoration:none;color:white ">Know More</a></button>
              </div>
            </div>
            <div class="col-sm-4" >


              <div class="thumbnail xyz" style="background-color: rgb(24, 28, 34">
                <div id="type">ODI</div>
                <div class="team">
                  <h1>TEAM 1</h1>
                  <p class="team1">bfdshfsdbgf</p>
               </div>
               <div class="team">
                  <h1>TEAM 2</h1>
                  <p class="team2">bfdshfsdbgf</p>
               </div>
                </hr>

                  <h3 style="color:#fff">Start Date:<span id="date"> 2018-07-25</span></h3>
                   <h3 style="color:#fff">Toss Winner:<span id="toss_winner_team"> 2018-07-25</span></h3>
                    <h3 style="color:#fff">Match Started:<span id="matchStarted"> 2018-07-25</span></h3>
                     <h3 style="color:#fff">Winner Team:<span id="winner_team"> 2018-07-25</span></h3>

                
               
                  <button id="unique_id"type="button" class="btn btn-info" style="background-color: rgb(136, 24, 27)"><a href="" style="text-decoration:none;color:white ">Know More</a></button>
              </div>
            </div>
            <div class="col-sm-4" >


              <div class="thumbnail xyz" style="background-color: rgb(24, 28, 34">
                <div id="type">ODI</div>
                <div class="team">
                  <h1>TEAM 1</h1>
                  <p class="team1">bfdshfsdbgf</p>
               </div>
               <div class="team">
                  <h1>TEAM 2</h1>
                  <p class="team2">bfdshfsdbgf</p>
               </div>
                </hr>

                  <h3 style="color:#fff">Start Date:<span id="date"> 2018-07-25</span></h3>
                   <h3 style="color:#fff">Toss Winner:<span id="toss_winner_team"> 2018-07-25</span></h3>
                    <h3 style="color:#fff">Match Started:<span id="matchStarted"> 2018-07-25</span></h3>
                     <h3 style="color:#fff">Winner Team:<span id="winner_team"> 2018-07-25</span></h3>

                
               
                  <button id="unique_id"type="button" class="btn btn-info" style="background-color: rgb(136, 24, 27)"><a href="" style="text-decoration:none;color:white ">Know More</a></button>
              </div>
            </div>
            <div class="col-sm-4" >


              <div class="thumbnail xyz" style="background-color: rgb(24, 28, 34">
                <div id="type">ODI</div>
                <div class="team">
                  <h1>TEAM 1</h1>
                  <p class="team1">bfdshfsdbgf</p>
               </div>
               <div class="team">
                  <h1>TEAM 2</h1>
                  <p class="team2">bfdshfsdbgf</p>
               </div>
                </hr>

                  <h3 style="color:#fff">Start Date:<span id="date"> 2018-07-25</span></h3>
                   <h3 style="color:#fff">Toss Winner:<span id="toss_winner_team"> 2018-07-25</span></h3>
                    <h3 style="color:#fff">Match Started:<span id="matchStarted"> 2018-07-25</span></h3>
                     <h3 style="color:#fff">Winner Team:<span id="winner_team"> 2018-07-25</span></h3>

                
               
                  <button id="unique_id"type="button" class="btn btn-info" style="background-color: rgb(136, 24, 27)"><a href="" style="text-decoration:none;color:white ">Know More</a></button>
              </div>
            </div>
            <div class="col-sm-4" >


              <div class="thumbnail xyz" style="background-color: rgb(24, 28, 34">
                <div id="type">ODI</div>
                <div class="team">
                  <h1>TEAM 1</h1>
                  <p class="team1">bfdshfsdbgf</p>
               </div>
               <div class="team">
                  <h1>TEAM 2</h1>
                  <p class="team2">bfdshfsdbgf</p>
               </div>
                </hr>

                  <h3 style="color:#fff">Start Date:<span id="date"> 2018-07-25</span></h3>
                   <h3 style="color:#fff">Toss Winner:<span id="toss_winner_team"> 2018-07-25</span></h3>
                    <h3 style="color:#fff">Match Started:<span id="matchStarted"> 2018-07-25</span></h3>
                     <h3 style="color:#fff">Winner Team:<span id="winner_team"> 2018-07-25</span></h3>

                
               
                  <button id="unique_id"type="button" class="btn btn-info" style="background-color: rgb(136, 24, 27)"><a href="" style="text-decoration:none;color:white ">Know More</a></button>
              </div>
            </div>
            <div class="col-sm-4" >


              <div class="thumbnail xyz" style="background-color: rgb(24, 28, 34">
                <div id="type">ODI</div>
                <div class="team">
                  <h1>TEAM 1</h1>
                  <p class="team1">bfdshfsdbgf</p>
               </div>
               <div class="team">
                  <h1>TEAM 2</h1>
                  <p class="team2">bfdshfsdbgf</p>
               </div>
                </hr>

                  <h3 style="color:#fff">Start Date:<span id="date"> 2018-07-25</span></h3>
                   <h3 style="color:#fff">Toss Winner:<span id="toss_winner_team"> 2018-07-25</span></h3>
                    <h3 style="color:#fff">Match Started:<span id="matchStarted"> 2018-07-25</span></h3>
                     <h3 style="color:#fff">Winner Team:<span id="winner_team"> 2018-07-25</span></h3>

                
               
                  <button id="unique_id"type="button" class="btn btn-info" style="background-color: rgb(136, 24, 27)"><a href="" style="text-decoration:none;color:white ">Know More</a></button>
              </div>
            </div>
            <div class="col-sm-4" >


              <div class="thumbnail xyz" style="background-color: rgb(24, 28, 34">
                <div id="type">ODI</div>
                <div class="team">
                  <h1>TEAM 1</h1>
                  <p class="team1">bfdshfsdbgf</p>
               </div>
               <div class="team">
                  <h1>TEAM 2</h1>
                  <p class="team2">bfdshfsdbgf</p>
               </div>
                </hr>

                  <h3 style="color:#fff">Start Date:<span id="date"> 2018-07-25</span></h3>
                   <h3 style="color:#fff">Toss Winner:<span id="toss_winner_team"> 2018-07-25</span></h3>
                    <h3 style="color:#fff">Match Started:<span id="matchStarted"> 2018-07-25</span></h3>
                     <h3 style="color:#fff">Winner Team:<span id="winner_team"> 2018-07-25</span></h3>

                
               
                  <button id="unique_id"type="button" class="btn btn-info" style="background-color: rgb(136, 24, 27)"><a href="" style="text-decoration:none;color:white ">Know More</a></button>
              </div>
            </div>

<br>
</div>
</body>
</html>
